*{
    margin: 0;
}

.barraNav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: bisque;
    width: 100%;
    height: 100vh;
}

.btn{
    padding-left: 25px;
    padding-right: 25px;
    padding: 10px;
    font-size: 15px;
    background-color: green;
    border-radius: 5px;
    color: white;
    text-decoration: none
}

.btn:hover{
    background-color: rgb(0, 49, 0);
}